@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
  overflow: hidden;
} */
.glow{
  transition: all 0.3s ease-in-out ;
}
.glow:hover{
  box-shadow: 0 0 25px rgb(71, 80, 206);
}
.img_glow{
  box-shadow: 0 0 55px rgb(71, 157, 206)
}
.neno-button{
  transition: all 0.3s ease-in-out 
  ;
}
.neno-button:hover{
  box-shadow: 0 0 15px rgb(82, 71, 206);
}
.b_glow{
  box-shadow: 0 0 15px rgb(46, 57, 120);
}


